$primary-color: #04151f;
$olive-green: #09b041;
$orange: #f2af29;
$purle: #950952;

.cast-container {
  margin: 12px auto;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}
