$primary-color: #04151f;
$olive-green: #09b041;
$orange: #f2af29;
$purle: #950952;
$font-size-icon: 1.8rem;
$marginValue: 150px;
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  z-index: -55555;
  // object-fit: cover;
  opacity: 0.3;
}
.home-banner {
  z-index: 1111;
  width: 100%;
  height: calc(100vh - #{$marginValue});
  display: flex;
  justify-content: space-around;
  color: white;
}
.home-img_poster {
  width: 20%;
  max-height: 60vh;
  background-image: url("../src/assets/oppenheimer_ver3_xlg.jpg");
  background-size: 100% 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.home-details {
  width: 60%;
  max-height: 60vh;
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .video-tab {
    cursor: pointer;
    display: flex;
    width: 250px;
    height: 100px;
    margin: 1rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #19a40e;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #19a40e;
    }
    span {
      margin-left: 0.6rem;
    }
  }
}
.margin-Top {
  margin-top: 3rem;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .home-banner {
    z-index: 1111;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    color: white;
  }
  .home-img_poster {
    width: 30%;
    max-height: 30vh;
    margin-bottom: 1rem;
  }
  .home-details {
    width: 60%;
    max-height: 30vh;
    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    p {
      display: none;
    }

    .video-tab {
      width: 150px;
      height: 70px;
      margin: 1rem 0rem;
      font-size: 1rem;
      border: 2px solid #19a40e;
      border-radius: 1rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #19a40e;
      }
      span {
        margin-left: 0.6rem;
      }
    }
  }
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: -55555;
    // object-fit: cover;
    opacity: 0.3;
  }
  .home-banner {
    z-index: 1111;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
  }
  .home-img_poster {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
  }
  .home-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    max-height: 30vh;
    align-items: center;
    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    p {
      display: none;
    }

    .video-tab {
      width: 150px;
      height: 70px;
      margin: 1rem 0rem;
      font-size: 1rem;
      border: 2px solid #19a40e;
      border-radius: 1rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #19a40e;
      }
      span {
        margin-left: 0.6rem;
      }
    }
  }
}
/* --------------------------********************************-----------------------------
                                    Section 1
  -----------------------------********************************----------------------------------*/
.section1 {
  width: 90vw;
  height: 80vh;
  color: white;
  font-size: $font-size-icon;
  .card-wrapper {
    margin-top: 4rem;
    width: 100%;
    max-height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0.8rem;
  }
  h1 {
    display: inline;
    margin-right: 1rem;
    font-size: $font-size-icon;
  }
  .heading {
    margin-top: 3rem;
    max-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .box-one {
      width: 30%;
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        text-decoration: none;
        font-size: $font-size-icon;
        color: white;
        margin-right: 1rem;
      }
    }
    .right {
      display: flex;
      justify-content: end !important;
    }
  }
}
