$primary-color: #2c302e;
$olive-green: #09b041;
$orange: #7c5800;
$font-size-icon: 1.8rem;

.container {
  width: 100%;
  max-height: 30vh;
  background: rgba(12, 10, 17, 0.39);
  position: sticky;
  top: 1rem;
  border-radius: 12px;
  z-index: 1111111;
  padding: 12px;
  .logo {
    display: flex;
    flex-direction: row;
    color: white;
    h1 {
      font-size: $font-size-icon;
    }
    .hamberger {
      display: flex;
      align-items: center;
      width: 30%;
      cursor: pointer;
      font-size: $font-size-icon;
    }
    .search {
      width: 70%;
      display: flex;
      justify-content: end;
      align-items: center;
      .search-container {
        display: flex;

        align-items: center;
        width: 40%;
        height: 40px;
        border-bottom: 1px solid wheat;
      }
      .search-icon {
        font-size: $font-size-icon;
        margin-right: 10px;
      }
      input {
        background-color: transparent;
        border: none;
        outline: none;
        width: 28%;
        height: 30px;
        font-size: 20px;
        color: white;
        &::placeholder {
          font-size: 20px;
          font-family: "poppins", sans-serif;
          font-weight: 100;
          font-style: normal;
          color: white;
        }
      }
    }
  }

  .menu {
    position: fixed;
    left: -2.4rem;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: $primary-color;
    border-right: 3px solid $olive-green;
    transition: left 0.5s linear;
    z-index: 100;
    border-radius: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 23px;
    li {
      color: white;
      display: flex;
      gap: 12px;
      align-items: center;
    }

    li a {
      text-decoration: none;
      color: white;
    }
  }

  .close {
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-size: 30px;
    margin: 20px 10px 0px 0px;
    color: white;
    .cl-icon {
      border: 2px solid $olive-green;
      border-radius: 20px;
    }
  }
  .menu-inv {
    background-color: $primary-color;
    left: -25vw;
    top: 0;
    position: fixed;
    border-radius: 2rem;
    width: 20vw;
    height: 100vh;
    transition: left 0.5s ease-out;

    z-index: 100;
  }
}
