$primary-color: #04151f;
$olive-green: #09b041;
$orange: #f2af29;
$purle: #950952;
$font-size-icon: 1.8rem;

.container {
  width: 100%;
  max-height: 30vh;

  background: rgba(12, 10, 17, 0.39);

  position: sticky;
  top: 1rem;
  border-radius: 12px;
  z-index: 1111111;
  padding: 12px;
  .logo {
    display: flex;
    flex-direction: row;
    color: white;
    h1 {
      font-size: $font-size-icon;
    }
    .hamberger {
      display: flex;
      align-items: center;
      width: 30%;
      cursor: pointer;
      font-size: $font-size-icon;
      .hide-logo {
        display: block;
      }
    }
    .search {
      width: 70%;
      display: flex;
      justify-content: end;
      align-items: center;
      .search-container {
        display: flex;
        align-items: center;
        height: 40px;
        a {
          color: white;
        }
        &:hover .search-icon {
          font-size: ($font-size-icon * 2);
          color: $olive-green;
        }
      }
      .search-icon {
        font-size: $font-size-icon;
        margin-right: 10px;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .menu {
    position: fixed;
    left: -2.4rem;
    top: 0;
    width: 20vw;
    height: 100vh;
    background: linear-gradient(
        101deg,
        rgba(9, 1, 47, 0.8939950980392157) 38%,
        rgba(4, 21, 31, 0.43461134453781514) 100%
      ),
      url("../../assets/Simple\ Shiny.svg");

    transition: left 0.5s linear;
    z-index: 100;
    border-radius: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 23px;
    li {
      color: white;
      display: flex;
      gap: 12px;
      align-items: center;
    }

    li a {
      text-decoration: none;
      color: white;
    }
  }

  .close {
    display: flex;
    justify-content: end;
    cursor: pointer;
    font-size: 30px;
    margin: 20px 10px 0px 0px;
    color: white;
    .cl-icon {
      border: 2px solid $orange;
      border-radius: 20px;
    }
  }
  .menu-inv {
    background: linear-gradient(
        101deg,
        rgba(9, 1, 47, 0.8939950980392157) 38%,
        rgba(4, 21, 31, 0.43461134453781514) 100%
      ),
      url("../../assets/Simple\ Shiny.svg");

    left: -25vw;
    top: 0;
    position: fixed;
    border-radius: 2rem;
    width: 20vw;
    height: 100vh;
    transition: left 0.5s ease-out;

    z-index: 100;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    .logo {
      display: flex;
      flex-direction: row;
      color: white;
      h1 {
        font-size: 1rem;
      }
      .hamberger {
        display: flex;
        align-items: center;
        width: 80%;
        cursor: pointer;
        font-size: $font-size-icon;
        .hide-logo {
          display: block;
        }
      }
    }
    .menu {
      width: 30vw;
    }
    ul {
      gap: 1.5rem;
      margin-top: 1.5rem;
      font-size: 1.2rem;
    }

    .close {
      font-size: 1.5rem;
    }
    .menu-inv {
      left: -30vw;
      top: 0;
      position: fixed;
      border-radius: 2rem;
      width: 30vw;
      height: 100vh;
      transition: left 0.5s ease-out;

      z-index: 100;
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .container {
    .logo {
      .hamberger {
        .hide-logo {
          display: none;
        }
      }
    }
    .menu {
      width: 60vw;
    }
    ul {
      gap: 1.5rem;
      margin-top: 1.5rem;
      font-size: 1.2rem;
    }

    .close {
      font-size: 1.2rem;
    }
    .menu-inv {
      left: -60vw;
      top: 0;
      position: fixed;
      border-radius: 2rem;
      width: 60vw;
      height: 100vh;
      transition: left 0.5s ease-out;
      z-index: 100;
    }
  }
}
