$primary-color: #01010f;

$olive-green: #09b041;
$orange: #7c5800;

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/font/Poppins-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  background-color: $primary-color !important;
}

.wrapper {
  position: relative;
  font-family: "Poppins";
  max-width: 100vw;
  height: auto;
  padding: 2.5rem;
}
